*{
    font-family: 'Poppins';
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


.carousel-caption p {
    font-size: 1.5rem; 
}


.header-carousel .carousel-item img {
    height: 700px;  
    object-fit: cover;
}






/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--bs-light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--bs-dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: normal;
}

.icon-box-primary,
.icon-box-light {
    position: relative;
    padding: 0 0 10px 10px;
    z-index: 1;
}

.icon-box-primary i,
.icon-box-light i {
    font-size: 60px;
    line-height: 0;
}

.icon-box-primary::before,
.icon-box-light::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: 0;
    bottom: 0;
    border-radius: 35px;
    transition: .5s;
    z-index: -1;
}

.icon-box-primary::before {
    background: var(--bs-light);
}

.icon-box-light::before {
    background: var(--bs-light);
}

/*** Brand ***/
.navbar{
    background-color: white;
}

/*** Navbar ***/
.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    margin-right: 25px;
    padding: 20px 0;
    color: var(--bs-dark);
    font-size: 15px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-success);
    
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}



@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .sticky-top {
        margin-top: -34px;
    }

    .navbar {
        height: 68px;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .dropdown a:hover{
color: #2e7d32;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
        color: var(--bs-success);
    }
}

/*** Header ***/
@media (min-width: 992px) {
    .header-carousel,
    .page-header {
        margin-top: -34px;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(3, 27, 78, .3);
    z-index: 2;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--bs-primary);
    border: 15px solid var(--bs-primary);
}


@media (max-width: 767.98px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(3, 27, 78, .3), rgba(3, 27, 78, .3)), url(../img/Specialized/Specialized.jpeg) center center no-repeat;
    background-size: cover;
}
.diagnostic {
    background: linear-gradient(rgba(3, 27, 78, .3), rgba(3, 27, 78, .3)), url(../img/Diagnostic/diagnostic.jpeg) center center no-repeat;
    background-size: cover;
}
.general{
    background: linear-gradient(rgba(3, 27, 78, .3), rgba(3, 27, 78, .3)), url(../img/GeneralCare/Historia\ Clinica\ Electronica\ \(Electronic\ Medical….jpeg) center center no-repeat;
    background-size: cover;
}
.corporate{
    background: linear-gradient(rgba(3, 27, 78, .3), rgba(3, 27, 78, .3)), url(../img/Insurance.jpeg) center center no-repeat;
    background-size: cover;
}

.gallery{
    background: linear-gradient(rgba(3, 27, 78, .3), rgba(3, 27, 78, .3)), url(../img/Gallery/gallert.jpeg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-white);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--bs-white);
}

/*** Contact US ***/
.contact .card,
    .leader,
    .service-card {
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        transition: transform 0.2s ease-in-out;
        border-radius: 8px;
        background-color: #fff;
    }
    
    .service-card:hover,
    .leader:hover,
    .contact .card:hover {
        transform: translateY(-5px);
    }
    
    .service-icon {
        font-size: 40px;
        color: #0d6efd;
        margin-bottom: 10px;
    }
    
    .service-title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 10px;
        color: #333;
    }
    
    .service-description {
        font-size: 0.9rem;
        color: #666;
        margin-bottom: 15px;
    }
    
    .learn-more {
        color: #0d6efd;
        font-weight: 600;
        text-decoration: none;
    }
    
    .learn-more:hover {
        text-decoration: underline;
    }


    /**Services**/
    .container-service {
    position: relative;
}

.container-service::before {
    position: absolute;
    content: '';
    background: var(--bs-light);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
    z-index: -1;
}

.service-item {
    position: relative;
    height: 100%;
    padding: 45px 30px;
    background: var(--bs-white);
    box-shadow: 0 0 45px rgba(0, 0, 0, .05);
}

.service-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    transition: .5s;
    background: var(--bs-primary);
}

.service-item:hover::before {
    height: 100%;
    top: 0;
}

.service-item * {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.service-item:hover h5,
.service-item:hover p {
    color: var(--bs-white);
}

.service-item:hover .icon-box-primary::before {
    background: var(--bs-dark);
}

.service-item:hover .icon-box-primary i {
    color: var(--bs-white) !important;
}

.icon-box-primary::before {
    display: none !important;
}


    /* Slider */
/* 
     .slidee img {
        width: 100%;
        transition: transform 0.3s;
        border-radius: 1%;
    }
    
    
.slide-track {
    display: flex;
    width: calc(300px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slidee {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    position: relative;
    overflow: hidden;
}


/* Gradient Shadow for Slider */

/* .slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotate(180deg);
}  */


/*** Management***/
.container-management {
    position: relative;
}

.container-management::before {
    position: absolute;
    content: '';
    background:#2e7d32;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    clip-path: polygon(0 70%, 100% 30%, 100% 100%, 0% 100%);
    z-index: -1;
}

.management-item {
    background: var(--bs-white);
    box-shadow: 0 0 45px rgba(0, 0, 0, .05);
}

.management-item .management-social {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    transition: .5s;
    background: rgba(0, 0, 0, .50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.management-item:hover .management-social {
    width: 100%;
    left: 0;
}

.management-item .management-social .btn {
    opacity: 0;
    transition: .5s;
}

.management-item:hover .management-social .btn {
    opacity: 1;
}

/**Scroll**/


.Abt, .firstgalla,.secondgalla,.thirdgalla,.about-overview{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}



/** Footer**/
/* Footer*/
    /*Footer Style*/
    
    .footer {
        background-color:#222222;
        padding-top: 3%;
    }
    
    .footer .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .footer-col {
        width: 30%;
        padding: 0 15px;
    }
    
    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: sticky;
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col ul li i {
        float: left;
        margin-right: 10px;
        font-size: larger;
        color: #e91e63;
    }
    
    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
       
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col ul li a:hover {
         color: #bbbbbb;;
        padding-left: 10px;
    }


     @media (max-width: 768px) {
       
        .footer-col {
            padding: 5% !important;
            width: 100% !important;
            margin-bottom: 30px !important;
        }
    }
    
   
    
   
    
    @media (max-width: 992px) {
       
        .footer-col {
            padding: 0%;
            width: 30%;
            margin-bottom: 30px;
        }
       
    }


    /*Corportae*/
    .gallery-container {
        padding-left: 100%;
        margin: 20px auto;
        padding: 20px;
        max-width: 1200px;
    }
    
    .gallery-item {
        padding: 15px;
        border-radius: 10px;
    }
    
    .gallery-item img {
        width: 100%;
        height: auto;
        object-fit: fill;
        border-radius: 10px;
    }
    
    .dnp {
        padding-top: 20px;
    }

    .about-overview {
        display: flex;
        align-items: center;
        padding: 40px;
        gap: 20px;
        background-color: #ffffff;
    }
    
    .about-content {
        flex: 1;
    }
    
    .about-image {
        flex: 1;
    }
    
    .about-image img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }


    /*Gallery*/
    .containe {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 250px;
        grid-gap: 10px;
    }
    
    .containe .items {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        border-radius: 10px;
        background-position: center !important;
        display: flex;
        justify-content: end;
        align-items: start;
        padding: 0px 0px 10px 10px;
        flex-direction: column;
        color: #fff;
    }
    
    .containe .items h2 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 3px;
    }
    
    .containe .items p {
        font-size: 17px;
        font-weight: 300;
        color: #fff;
    }
    
    .containe .item1 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/accidentcenter.jpg);
    }
    
    .containe .item2 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/AdultEmergency.JPG);
        grid-row: span 2;
    }
    
    .containe .item3 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/ANC\ familyplanning.jpg);
        grid-column: span 2;
    }
    
    .containe .item4 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/Antenetal.jpg);
    }
    
    .containe .item5 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/Dental&Eye.jpg);
    }
    
    .containe .item6 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/femaleMedical.jpg);
        grid-row: span 2;
    }
    
    .containe .item7 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/FemaleSurgical.jpg);
        grid-row: span 2;
    }
    
    .containe .item8 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/ICU.jpg);
        grid-column: span 2;
    }
    
    .containe .item9 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/IDC.jpg);
    }
    
    .containe .item10 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/WellnessClinic.JPG);
        grid-column: span 2;
    }
    
    .containe .item11 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/trainingUnit.JPG);
    }
    
    .containe .item12 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/trainingStaff.JPG);
        grid-row: span 2;
    }
    
    .containe .item13 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/TrainingSession.JPG);
        grid-column: span 2;
    }
    
    .containe .item14 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/publicHealth.jpg);
    }
    
    .containe .item15 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/PostDelivery.JPG);
    }
    
    .containe .item16 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/Physiotherapy.jpg);
        grid-row: span 2;
    }
    
    .containe .item17 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/pharmstaff.JPG);
        grid-row: span 2;
    }
    
    .containe .item18 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/pharm2.JPG);
        grid-column: span 2;
    }
    
    .containe .item19 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/pedicemergency.jpg);
    }
    
    .containe .item20 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/pedicAnnex.jpg);
        grid-column: span 2;
    }
    
    .containe .item21 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/paedicMedical.jpg);
    }
    
    .containe .item22 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/PaedicMedical2.JPG);
        grid-row: span 2;
    }
    
    .containe .item23 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/OPD2.jpg);
        grid-column: span 2;
    }
    
    .containe .item24 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/opd1.jpg);
    }
    
    .containe .item25 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/OBS&GYANE\ emergency.jpg);
    }
    
    .containe .item26 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/O&G\ pharma.JPG);
        grid-row: span 2;
    }
    
    .containe .item27 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/Nutrition.jpg);
        grid-row: span 2;
    }
    
    .containe .item28 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/NICU.jpg);
        grid-column: span 2;
    }
    
    .containe .item29 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/MTN\ theater.JPG);
    }
    
    .containe .item30 {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Gallery/MTN\ maternity.JPG);
        grid-column: span 2;
    }
    
    .firstgalla,
    .secondgalla,
    .thirdgalla {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    @media(max-width:991px) {
        .containe {
            grid-template-columns: repeat(2, 1fr);
        }
        .containe .item2,
        .containe .item6,
        .containe .item7 {
            grid-row: auto;
        }
        .containe .item3,
        .containe .item8,
        .containe .item10 {
            grid-column: auto;
        }
    }
    
    @media(max-width:650px) {
        .containe {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }   


    @media (max-width: 768px) {
        .about-overview {
            flex-direction: column;
            text-align: justify;
        }
        .about-image,
        .about-content {
            max-width: 100%;
        }
        .about-header h1 {
            font-size: 2em;
        }
        .about-header p {
            font-size: 1em;
        }
        .our-values {
            width: 90%;
        }

        
        
        .governance img{
            height: 200%;
        }

        .page-header{
            
        }

    }